.container {
    text-align: center;
    width: 90%;
    max-width: 350px;
}

.opponents_container {
    width: 100%;
}

.opponents {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0 10px;
    max-height: 300px;
    overflow-y: auto;
}

.opponent {
    color: #f44;
    font-weight: 700;
    background: #e6e6e3;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}

.opponent:hover {
    color: #e6e6e3;
    background: #f44;
}

.opponents a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.button {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 700;
    color: #e6e6e3;
    background: #f44;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    color: #f44;
    background: #e6e6e3;
}